*{
    box-sizing: border-box;
    border-radius: 5px;
    
    }
body{
    width:100%;
    display: grid;
    grid-template-rows: repeat(1fr, 1fr,1fr);
    grid-gap: 1px; 
    background-color: white;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline-offset: 3px;
    border-width: medium; 
}
header{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1px;  
    vertical-align: middle;
    color: #002255ff;
    text-shadow: 5px 5px 5px grey;

}
h1, h2{
    text-align: center;
}

h1{
    color: #fbcc00ff;
}
h2{
    color: #002255ff;
}
.MainContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    color:#002255ff;
}
form {
    border-right: 3px solid #002255ff;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  button{
    background-color: #002255ff;
    color: white;
    text-align: center;
    text-justify: auto;
    width: 80px;
    height: 40px;
    cursor: pointer; 
  }  