*{
    box-sizing: border-box;
    border-radius: 5px;
    
    }
body{
    width:100%;
    display: grid;
    background-image: url(../assets/GuidingPrinciples-HeroImage-WomanCompass-1600x900.jpg);
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline-offset: 3px;
    border-width: medium; 
}
header{
    width: 100%;
    max-height: 500px;
    background-color: white;
    background-size: cover;
    opacity: 0.75;
}
.navbar{
  background-color: #002255ff;
  overflow: hidden;
}  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 1;
  }
  .navbar a:hover{
    
        background-color: #fbcc00ff;
        color: white;

  }
  .creds{
    background-color: #fbcc00ff;
    overflow: hidden;
    
  }
  .creds a{
      color: white;
      text-align: center;
      padding: 10px 12px;
      text-decoration: none;
      font-size: 15px;
      justify-content: right;
      float: right;
  }
  .creds a:hover{
      background-color: #002255ff;
      color: white; 
  }
.MainContent{
    margin: 5% 5% 5% 5%;
    background-color: #ffffff;
    opacity: 0.8;
    padding: 10px;
}
.MainContent h1{
    color:#fbcc00ff;
    text-decoration-line: underline;
}
.aboutus{
    background: #002255ff;
    color: white;
    text-align: justify;
    opacity: 0.7;
    padding: 30px;
    margin-bottom: 15px;
}
.featguides{
    position: relative;
    width: 120%;
    height: 30%;
    margin: 20px auto;

}
.featguides .guidecards {
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    background: #002255ff;
    float: left;
    margin: 15px;   
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;    

}
.featguides .guidecards .avatar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbcc00ff;
    transition: 0.5s;
    z-index: 1;

}
.avatar img{
    width: inherit;
    height: inherit;
}

.footer{
    background-color: #fbcc00ff;
    background-size: cover;
    width: 100%;
    max-height: 320px;
    text-align: center;
    display: block;
}
.ftdtctn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.lead{
    background-color: #0055d4ff;
    justify-content: right;
    float: right;
    margin-left: 85%;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}
@media screen and (max-width: 300px){
    .footer{
        background-color: #fbcc00ff;
        background-size: cover;
        width: 100%;
        max-height: 320px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .ftdtctn{
        
    }

}