*{
    box-sizing: border-box;
    border-radius: 5px;
    
    }
body{
    width:100%;
    display: grid;
    grid-template-rows: repeat(1fr, 4fr,1fr);
    grid-gap: 1px; 
    background-color: white;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline-offset: 3px;
    border-width: medium; 
}
header{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1px;  
    vertical-align: middle;
    color: #002255ff;
    text-shadow: 5px 5px 5px grey;
}
.login{
background-color: #002255ff;
color: white;
text-align: center;
text-justify: auto;
height: 50px;
cursor: pointer;
}
.signup{
    background-color: #002255ff;
    color: white;
    text-align: center;
    text-justify: auto;
    height: 50px;
    cursor: pointer;    
}
.logo{
    background-color:white;
    align-self: baseline;
}
.logo img{
    width: inherit;
    height: inherit;
    padding: 1px;
}
.credentials{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1px;
    border-bottom: 1px solid #fbcc00ff;
}
.welcome{
    font-style: initial;
    color: #fbcc00ff;
}
.Featured{
    color:#002255ff
}

.MainContent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 1px;
    color:#002255ff
}
.featguidefilter{
    border-right: 1px solid #f9f9f9ff;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
}
.filtercriteria{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.footer{
    background-color:#002255ff;
}
.checked{
    color: #fbcc00ff;
}
.submitsearch button{
    background-color:#002255ff;
    color: white;
    border: 1px solid #fbcc00ff;
    padding: 10px; 
}
.indcontainer{
    background-color: white ;
    border: 1px solid #f9f9f9ff; 
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    text-decoration: none;
}
.indcontainer a{
    text-decoration: none;
}
.imagecontainer img{
    min-width: 70px;
    min-height: 70px;
    max-width: 100px;
    max-height: 100px;
}
.filteringtools{
    position: absolute;
    justify-self: center;
    align-self: center;
}
.filteringtools input{
    border: 0.5px solid #002255ff;
}
.closefilter{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.guideprofile{
    text-decoration: none;
    color: #002255ff;
}
.featguideindcontainer a{
    text-decoration: none;
}
@media only screen and(max-width: 1056px){
    .filteringtools{
        position: relative;        
    }
}
