*{
box-sizing: border-box;
}
body {
    border: 1px solid;
    width: 100%;
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    font-style: normal;
    cursor: default;
}
a{
    text-decoration: none;
}
.MainBox{
    width:100%;
    max-height: 1000px; 
}
.MainBar{
    position: fixed;
    background-color: #002255ff;
    width: 100%;
    max-height: 500px;
    float: left;
    top: 0;
    z-index: 504;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.15);
}
.MainBarContainer{
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 0%;
    justify-content: space-between;
    margin: 0 auto;
}
.Logo{
    height: 10%;
    width: 100%;
    margin: 0;
    background-image: url(/UI/media/img/fm_logo.png);
    background-size: cover; 
}
.MainMenu{
    flex: 1;
    z-index: 4;
    margin-left: 8px;
}
.MainBarContent{
    display: flex;
    align-items: center;
}
.Button{
    display: flex;
    font-size: 12px;
    padding: .8em 1.2em;
    margin-right: 16px;
    min-width: 93px;
    color: #fff;
    background-color: #ffcc00ff;
    text-align: center;
}
.Button:hover{
    background-color: rgb(241, 213, 97) ;
    cursor: pointer;
}
.PageWrapper{
    display: flex;
    float: right;
    background-color: #f9f9f9;
    width: 100%;
    min-height: calc(100vh-50px);
    margin-top: 50px;
    box-sizing: inherit;
    border: 1px solid;
}
.SlideShow{
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    overflow: hidden;
    padding-top: 0;
    height: 700px;
    background: rgba(241, 213, 97, 0.6);
}
.SSContainer{
    max-width: 1000px;
  position: relative;
  margin: auto;
}
.Image{
    display: none;
}
.bef, .aft{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #002255ff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.aft{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.bef:hover, .aft:hover{
    background-color: rgba(241,213,97,0.9);
}
.Writtencaption{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideorder{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.Image img {
    width: 100%;
    max-height: 35%;
}
.active .dot:hover{
    background-color: #770077;
}
.Action{
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: Action;
  animation-duration: 1.5s;
}
@-webkit-keyframes Action {
    from {opacity: .3} 
    to {opacity: 1}
  }
  @keyframes Action {
    from {opacity: .4} 
    to {opacity: 1}
  }